// BACKGROUND COLORS
////////////////////
$nav-active-bg: #F88379 !default;
$nav-active-parent-bg: #2E3336 !default; // parent links of the current section
$lang-select-pressed-bg: #F88379 !default; // color of language tab bg when mouse is pressed
$main-bg: #F5F8FA !default;
$aside-notice-bg: #ddffff !default;
$aside-warning-bg: #ffdddd !default;
$aside-success-bg: #ddffdd !default;
$search-notice-bg: #ddffff !default;


// TEXT COLORS
////////////////////
$nav-active-parent-text: #F88379 !default; // parent links of the current section
$lang-select-active-text: #F88379 !default; // color of selected language tab text


// SIZES
////////////////////
$nav-width: 250px !default; // width of the navbar
$nav-padding: 20px !default; // padding to left and right of navbar
$nav-indent: 20px !default; // extra padding for ToC subitems


// FONTS
////////////////////
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap");

$font-default-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
